# Allow list: everything here is ignored unless listed below.
*
!.gitignore
!Makefile
!boot.sh
!run.sh
!lib.sh
!ex0[0-9]/
!ex0[0-9]/*.sh
!kasan/
!kasan/Makefile
!kasan/*.sh
!kasan/src/
!kasan/src/*.c
